<mat-toolbar color="primary">
  <h2 class="mat-h2" *ngIf="isSmallScreen; else title">Tareas</h2>
  <ng-template #title>
    <div class="app-title">¡Bienvenido a la lista de Tareas!</div>
  </ng-template>
  
  <div class="filter-section" *ngIf="!isSmallScreen">
    <button mat-button [matMenuTriggerFor]="filterMenu">
      <mat-icon>filter_list</mat-icon> Filtrar
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item (click)="openModalFilterbyId()">Id</button>

      <button mat-menu-item (click)="openModalFilterbyCategoria()">Categoría</button>
    </mat-menu>
  </div>

  <div class="add-task-section" *ngIf="!isSmallScreen">
    <button mat-raised-button color="accent" (click)="openAddTaskDialog()">Agregar tarea</button>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="isSmallScreen">
    <div fxLayout fxLayoutAlign="center center">
      <button mat-raised-button color="accent" (click)="openAddTaskDialog()" class="small-btn">Agregar tarea</button>
      <button mat-button [matMenuTriggerFor]="filterMenu" class="small-btn">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item (click)="openModalFilterbyId()">Id</button>
      <button mat-menu-item (click)="openModalFilterbyCategoria()">Categoría</button>
    </mat-menu>
  </div>
</mat-toolbar>
